#skills{
  display: flex;
  margin: 20px;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: rgba(0, 166, 255, 0.067);
  border: 2px solid rgb(4,26,38);
  border-radius: 10px;
}

#skills h4{
  font-family: "Rowdies";
  color: rgb(177, 3, 177);
  font-weight: 200px;
  text-align: center;
}

#skills section{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}